* {
    box-sizing: border-box;
}

body {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    background-image: url("https://2.bp.blogspot.com/-C1lzrGQdHkM/T78dxRvrmBI/AAAAAAAAEHw/dYWj8zg6TIg/s1600/Hdhut.blogspot.com+%252835%2529.jpg");
}

button {
    font-size: 20rem;
    border-radius: 25%;
    box-shadow: 5px 2px;
}

h3 {
    font-size: 10rem;
    color: #ffdd00;
    margin: 1rem 1rem;
}